i {
    margin: 10px;
    color: rgb(163, 236, 255);
}

.circular--square {
    max-width: 30px;
    max-height: 30px;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
}

.prof {
    position: absolute;
    display: inline;
    cursor: pointer;
    margin-left: 22%;
}

.profile {
    color: aliceblue;
    padding: 12px;
    width: 200px;
    cursor: pointer;
    height: 40px;
}

p {
    display: inline;
    margin-left: 10px;
}

.settingsfafa {
    margin-left: 5px;
}

.section-sidebar {
    position: fixed;
    margin-top: 80px;
    width: 250px;
    height: 100%;
    text-align: left;
    background-color: rgba(0, 0, 0, 1);
    border-color: rgb(10, 53, 53);
    border-top-right-radius: 5px;
    border-style: inset;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid rgb(59, 134, 184);
    align-content: center;
}

.sidebar-nav {
    width: 180px;
    ;
    list-style-type: none;
    margin-left: 20px;
}

.sidebar-nav a li {
    padding: 15px;
    width: 220px;
    ;
}

.sidebar-nav a li p:hover {
    border-bottom-style: ridge;
    border-bottom-color: white;
    opacity: .5;
    transition: all .1s;
}

.sidebar-nav a li i:hover {
    opacity: .5;
    transition: all .1s;
}


/* .sidebar-nav li:hover{
    border-color: rgb(59, 134, 184);
    box-shadow: 0 3px 7px 0  rgb(43, 125, 180);
    border-radius: 10px;
======= MEMLI CHANGE MERGE*/

/*.sidebar-nav li:hover {
    /*border: 0.5px solid rgb(59, 134, 184);
    /* box-shadow: 0 10px 20px 0 rgb(61, 60, 60); 
    transform: translateY(-3px);
    opacity: 1;
    transition: ease-in-out .077s;
}*/


*/ .sidebar-nav a {
    text-decoration: none;
}

.sslogout {
    /* background-color: #ff3e30; */
    color: #ff3e30;
    position: absolute;
    border-style: none;

    background-color: transparent;
    border: 1px solid #ff3e30;
    /* lola change background-color:red;
    color:white;
    border:1px solid red;*/
    width: 150px;
    height: 50px;
    left: 40px;
    bottom: 120px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Poppins' !important;
    font-weight: 500;
}

.sslogout:hover {
    color: black;
    opacity: 1;
    background-color: #ff3e30;
    font-weight: 500;
    transform: perspective();
    transition: all .4s;
}

input[type=text] {
    color: white;
    height: 40px;
    margin-right: 50px;
    width: 230px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: transparent;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    border-color: rgb(133, 230, 255);
}